# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.iobj
ipch/

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
lib/

# Compiled executables
*.exe
/bin
/Output

Makefile
.depend*
*.sln
make

# Artifacts
*.swp

#visual studio work files
*vcproj*
*vcxproj*
Debug
Release
*.pdb
*.ipdb
*.ilk
.vs/
*.VC.*

# test output files
*.log

#helper/customized commands
# (use single letter names and don't add to repo)
?.cmd
?.bat

#a place to hide documents that should not go into the repo:
doc/NotGitWorthy/

Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
compile
stamp-h1
.dirstamp
.deps/
.libs/
src/Makefile
src/Makefile.in
src/unit_tests
src/*.la
src/*.lo
src/*.o

src/Examples/interpret_application

